# This file lists all the dependencies (librairies)
# needed for the project to run.
pandas
numpy
scikit-learn
xgboost==1.7.6
matplotlib
seaborn # à rajouter
plotly #
pytest
# travailler avec python 3.11